/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* Body */
body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Main Container */
.container{
    width:450px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* Heading */
.container h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:25px;
}

/* Input Section */
.input-box{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.input-box input{
    flex:1;
    padding:12px;
    border:2px solid #2563eb;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.input-box button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.input-box button:hover{
    background:#1d4ed8;
}

/* Task List */
#taskList{
    list-style:none;
}

/* Each Task */
#taskList li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f3f4f6;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
    font-size:17px;
}

/* Completed Task */
.completed{
    text-decoration:line-through;
    color:gray;
}

/* Buttons */
.actions button{
    margin-left:8px;
    border:none;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    color:white;
}

.edit-btn{
    background:#f59e0b;
}

.delete-btn{
    background:#ef4444;
}

.complete-btn{
    background:#22c55e;
}

/* Responsive */
@media(max-width:500px){

    .container{
        width:90%;
    }

    .input-box{
        flex-direction:column;
    }

    .input-box button{
        width:100%;
    }
}